.section {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    padding: 1rem 1rem;
    background-color: #EA9E8D;
    align-items: stretch;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.section > * {
    flex: 1 20%;
}

@media (max-width: 600px) {
    .section {
        gap: 0rem;
        flex-direction: column;
    }
    .section:nth-child(even) {
        flex-direction: column;
    }
}
.gridwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 5vw;
    gap: 4rem 0;
}